<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <!-- This Menu Item must have a parent and an action -->
    <menuitem id="menu_hospital_root"
              name="Hospital"
              web_icon="om_hospital,static/description/icon.png" sequence="0"/>

    <menuitem id="menu_hospital_master"
              name="Patient Details"
              parent="menu_hospital_root"  sequence="0"/>

    <menuitem id="menu_appointment_master"
              name="Appointments"
              parent="menu_hospital_root"
              sequence="20"/>

    <menuitem id="menu_configuration"
              name="Configurations"
              parent="menu_hospital_root"
              sequence="100"/>

    <menuitem id="menu_cancel_appointment"
              name="Cancellation"
              parent="menu_appointment_master"
              action="action_cancel_appointment"
              sequence="20"/>

    <menuitem id="menu_reporting"
                name="Reporting"
                 parent="menu_hospital_root"
                 sequence="40"/>

    <menuitem id="menu_Appointment_report"
              name="Appointments"
              action="om_hospital.action_report_appointment"
              parent="menu_reporting"
              sequence="10"/>
</odoo>